<!DOCTYPE html>
<html>
	<head>
		<title>Test Output</title>
		<link href="/stylesheets/style.css" rel="stylesheet">
	</head>
	<body bgcolor="#ffffea" onload="loadOutput()">
		<header>
			
			<div class="row">
				<ul class="main-nav">
					<li><a href=""> Home </a></li>
					<li><a href=""> Other </a></li>
					<li><a href=""> Other </a></li>
					<li><a href=""> Other </a></li>
				</ul>
			</div>
			
			<div class="logo">
				<img src="/images/MULogo.png" alt="MU Logo">
			</div>
		
		</header>
		<div class="toolName">
			<p>Tool Name</p>
		</div>
		
		<div class="content">
		<br><br>
			<fieldset>
				<legend>Enter Protein Query Sequence</legend>
				
				
				
			</fieldset>  
			
		</div>
		
		<footer>
		
			<div class="footerInfo">
				<p>This is some info about this page.</p> <br>
				<hr><br>
				<a href="">LINK</a> <br><br>
				<div class="aboutInfo">
					<p>National Center for Biotechnology Information, U.S. National Library of Medicine</p>
					<p>8600 Rockville Pike, Bethesda MD, 20894 USA</p><br><br>
					
					<a href="">Contact</a>
					|
					<a href="">About Us</a>
				</div>
				
			</div>
		
		</footer>

	</body>
</html>