<!DOCTYPE html>
<html>
    <head>
        <title>Test Output</title>
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
    <script src="/javascripts/output.js"></script>
    <script>
        window.onload = function(){
            var proteins = <%- JSON.stringify(proteins) %>
                loadCharts(proteins);
        }
    </script>
    <body bgcolor="#3d3d39">
        <header>

            <div class="row">
                <ul class="main-nav">
                    <li><a href=""> Home </a></li>
                    <li><a href=""> Other </a></li>
                    <li><a href=""> Other </a></li>
                    <li><a href=""> Other </a></li>
                </ul>
            </div>

            <div class="logo">
                <img src="/images/MULogo.png" alt="MU Logo">
            </div>

        </header>
        <body>
            <div class="toolName">
                <p>Tool Name</p>
            </div>
            <div class="content" id="chartList">
                <div id="snapControl" class="snapList">
                
                </div>
                <br><br>



            </div>
        </body>
        <footer>

            <div class="footerInfo">
                <br>
                <p>This is some info about this page.</p> <br>
                <hr><br>
                <a href="">LINK</a> <br><br>
                <div class="aboutInfo">
                    <p>National Center for Biotechnology Information, U.S. National Library of Medicine</p>
                    <p>8600 Rockville Pike, Bethesda MD, 20894 USA</p><br><br>

                    <a href="">Contact</a>
                    |
                    <a href="">About Us</a>
                    <br>
                </div>				
            </div>		
        </footer>

    </body>
</html>